<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
        <p th:inline="text">
        Name : [[${resume.name}]].<br/>
        email :[[${resume.email}]].<br/><br/>

        <h4>Education</h4>
            education : [[${resume.education}]].<br/>
            Graduation Year:[[${resume.grad_year}]].<br/>

        <h4>Experience</h4>
            experience : [[${resume.experience}]].<br/>
            company:[[${resume.company}]].<br/>
            Years of service:[[${resume.years_of_service}]].<br/>

        <h4>Skills</h4>
            skill : [[${resume.skill}]].<br/>
            programming:[[${resume.programming}]].<br/>
            rating : [[${resume.prating}]].<br/>
            MS Office:[[${resume.msOffice}]].<br/>
            rating : [[${resume.mrating}]].<br/>

        </p>
</body>
</html>