<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
        <p th:inline="text"> Name is [[${resume.name}]].<br/>

            email is [[${resume.email}]].<br/><br/>
           education is [[${resume.education}]].<br/><br/>
            experience is [[${resume.experience}]].<br/><br/>
           skill is [[${resume.skill}]].<br/>
            skill_rating is [[${resume.skill_rating}]].<br/>

        </p>
</body>
</html>